@font-face {
    font-family: cairo-light;
    src: url(/webfonts/cairo/Cairo-Light.ttf);
}
@font-face {
    font-family: cairo-bold;
    src: url(/webfonts/cairo/Cairo-Bold.ttf);
}
@font-face {
    font-family: cairo-regular;
    src: url(/webfonts/cairo/Cairo-Regular.ttf);
}
/* Start Global Rules */
*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:root{
    --main-color:#2196f3;
    --alt-main-color:#116ebb;
    --main-transition-duaration:0.3s;
}
body{
    font-family: 'Cairo', sans-serif;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width:768px){
    .container{
        width: 750px;
    }
}
/* Medium */
@media (min-width:992px){
    .container{
        width: 970px;
    }
}
/* Large */
@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
/* End Global Rules */

/* Start Header */
.header{
    background-color: white;
    position: relative;
    -moz-box-shadow: 0 0 10px #ddd;
    -webkit-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.header .container .logo{
    font-family: 'Sedgwick Ave Display', cursive;
    user-select: none;
    color: #151515;
    font-size: 26px;
    height: 72px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .container .main-nav{
    display: flex;
}
.header .container .main-nav > li > a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    color: black;
    padding: 0 30px;
    transition: var(--main-transition-duaration);
    overflow: hidden;
}
.header .container .main-nav > li > a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    top: 0;
    left: -100%;
    background-color: var(--main-color);
    transition: var(--main-transition-duaration);
}
.header .container .main-nav > li > a:hover{
    color: var(--main-color);
    background-color: #fafafa;
}
.header .container .main-nav > li > a:hover::before{
    left: 0;
}
/* End Header */

/* Start Landing */
.landing{
    position: relative;
}
.landing::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin:top left ;
}
.landing .container{
    min-height: calc(100vh - 72px);
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding-bottom: 120px;
}
.landing .text{
    flex: 1;
}
.landing .text h1{
    font-size: 40px;
    margin: 0;
    /* letter-spacing: -2px; */
}
.landing .text p{
    font-size: 24px;
    line-height: 1.7;
    margin: 5px 0 0 ;
    color: #777;
    max-width: 500px;
}
.landing .image img{
    width: 600px;
    max-width: 100%;
}
.landing .go-down{
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
    transition: var(--main-transition-duaration);
}
.landing .go-down:hover{
    color: var(--alt-main-color);
}
.landing .go-down i{

}
/* End Landing */